
<% fillings = ["cookies", "drama", "beaches", "singing"] %>

<h1>Happy Valentines Day BBY</h1>
<ul>
    <%for filling in fillings%>
    <li><%=filling%></li>
    <%end%>
<Ul>
<!-- here's a comment>

<p>Currently there are <%=fillings.size%> types of awesome dope fillings









